<div>
  <h2 id="page-heading" data-cy="TransferHeading">
    <span jhiTranslate="opbankApp.transfer.home.title">Transfers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="opbankApp.transfer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transfer"
        [routerLink]="['/transfer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="opbankApp.transfer.home.createLabel"> Create a new Transfer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transfers?.length === 0">
    <span jhiTranslate="opbankApp.transfer.home.notFound">No transfers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transfers && transfers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cin"><span jhiTranslate="opbankApp.transfer.cin">Cin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomPrenom">
            <span jhiTranslate="opbankApp.transfer.nomPrenom">Nom Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tel"><span jhiTranslate="opbankApp.transfer.tel">Tel</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let transfer of transfers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transfer', transfer.id, 'view']">{{ transfer.id }}</a>
          </td>
          <td>{{ transfer.cin }}</td>
          <td>{{ transfer.nomPrenom }}</td>
          <td>{{ transfer.tel }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transfer', transfer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transfer', transfer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transfer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
