<div>
  <h2 id="page-heading" data-cy="OperationHeading">
    <span jhiTranslate="opbankApp.operation.home.title">Operations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="opbankApp.operation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-operation"
        [routerLink]="['/operation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="opbankApp.operation.home.createLabel"> Create a new Operation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="operations?.length === 0">
    <span jhiTranslate="opbankApp.operation.home.notFound">No operations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="operations && operations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numOperation">
            <span jhiTranslate="opbankApp.operation.numOperation">Num Operation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date"><span jhiTranslate="opbankApp.operation.date">Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeOperatin">
            <span jhiTranslate="opbankApp.operation.typeOperatin">Type Operatin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etatOperation">
            <span jhiTranslate="opbankApp.operation.etatOperation">Etat Operation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="montant">
            <span jhiTranslate="opbankApp.operation.montant">Montant</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="virement.id">
            <span jhiTranslate="opbankApp.operation.virement">Virement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="transfer.id">
            <span jhiTranslate="opbankApp.operation.transfer">Transfer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="recharge.id">
            <span jhiTranslate="opbankApp.operation.recharge">Recharge</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paimentFacture.id">
            <span jhiTranslate="opbankApp.operation.paimentFacture">Paiment Facture</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="compte.rib">
            <span jhiTranslate="opbankApp.operation.compte">Compte</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operation of operations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/operation', operation.id, 'view']">{{ operation.id }}</a>
          </td>
          <td>{{ operation.numOperation }}</td>
          <td>{{ operation.date | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'opbankApp.TypeOperation.' + operation.typeOperatin }}">{{ operation.typeOperatin }}</td>
          <td jhiTranslate="{{ 'opbankApp.EtatOperation.' + operation.etatOperation }}">{{ operation.etatOperation }}</td>
          <td>{{ operation.montant }}</td>
          <td>
            <div *ngIf="operation.virement">
              <a [routerLink]="['/virement', operation.virement?.id, 'view']">{{ operation.virement?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="operation.transfer">
              <a [routerLink]="['/transfer', operation.transfer?.id, 'view']">{{ operation.transfer?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="operation.recharge">
              <a [routerLink]="['/recharge', operation.recharge?.id, 'view']">{{ operation.recharge?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="operation.paimentFacture">
              <a [routerLink]="['/paiment-facture', operation.paimentFacture?.id, 'view']">{{ operation.paimentFacture?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="operation.compte">
              <a [routerLink]="['/compte', operation.compte?.id, 'view']">{{ operation.compte?.rib }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/operation', operation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/operation', operation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(operation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="operations && operations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
