<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div
    *jhiHasAnyAuthority="'ROLE_ADMIN'"
    class="col-md-9">
    <h1 class="display-4"><span>Bienvenue dans l'interface d'Administration du MMSBank</span></h1>

    <p class="lead">MMSBank Administration</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
              [translateValues]="{ username: account.login }"
        >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
      >, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and
          password="user").</span
      >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a
          new account</a>
      </div>
    </div>


  </div>
  <div
    *jhiHasAnyAuthority="'ROLE_CLIENT'"
    class="col-md-9">

    <h3 class="display-4"><span id="titl-index">Bienvenue dans l'interface d'Utilisateur du MMSBank !</span></h3>

    <div class="wrapper">
      <div class="container">
        <div class="row">

          <div class="span9">
            <div class="content">
              <div class="btn-controls">
                <div class="btn-box-row row-fluid">
                  <a href="#" class="btn-box big span4"> <i class="icon-user"></i><b>65%</b>
                    <p class="text-muted">
                      Compte</p>
                  </a><a href="#" class="btn-box big span4"><i class=" icon-random"></i><b>15</b>
                  <p class="text-muted">
                    Virements</p>
                </a>

                  <a href="#" class="btn-box big span4"><i class="icon-money"></i><b>15,152</b>
                    <p class="text-muted">
                      Solde</p>
                  </a>
                </div>
                <img src="./Carte.jpg" style="width:30%;height:20%;padding-left: 35%;"/>

              </div>
              <!--/#btn-controls-->

              <!--/.module-->


            </div>
            <br/>

            <div class="module">
              <div class="module-head">
                <h3>
                  DataTables</h3>
              </div>
              <div class="module-body table">
                <table cellpadding="0" cellspacing="0" border="0" class=""
                       width="100%">
                  <thead>
                  <tr>
                    <th>
                      Libelle
                    </th>
                    <th>
                      Date D'operation
                    </th>
                    <th>

                    </th>
                    <th>
                      Type D'operation
                    </th>
                    <th>
                      Montant
                    </th>
                  </tr>
                  </thead>
                  <tbody>

                </table>
              </div>
            </div>
            <!--/.module-->
          </div>
          <!--/.content-->
        </div>
        <!--/.span9-->
      </div>
    </div>
    <!--/.container-->
  </div>
  <!--/.wrapper-->

</div>


<script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="scripts/flot/jquery.flot.js" type="text/javascript"></script>
<script src="scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="scripts/common.js" type="text/javascript"></script>
